<html>
  <head>
    <link rel='stylesheet' type='text/css' href="../static/style2.css">
    <title>Docker Pets 90's edition</title>
  </head>


  <body>
    <div class="title">
      <h2>Docker Pets as a Service 90's edition</h2>
    </div>
    <div class="wrapper">

      <div class="container">
        <img src="{{url}}" class="centerfold"/>
      </div>
      <div class="stats">
        <p>Processed by container ID</p>
        <p><b>{{hostname}}</b></p>
        <p>version {{version}}</p>  
      </div>
    </div>

  </body>
</html>